@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap" rel="stylesheet">');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        letter-spacing: 1px;
    }
    body {
        @apply bg-gray-950 text-amber-950 font-semibold text-lg
    }
    
    h1 {
        font-family: "Syncopate", sans-serif;
        font-weight: 700;
        @apply text-5xl md:text-6xl font-extrabold text-center text-gray-300 leading-normal md:leading-relaxed
    }
    h2 {
        font-family: "Syncopate", sans-serif;
        font-weight: 700;
        @apply text-3xl md:text-4xl font-bold text-center text-gray-300
    }
}

#navbar {
    font-family: "Syncopate", sans-serif;
    font-weight: 700;
    @apply m-3 py-3 px-6 bg-gray-900 text-gray-300 rounded shadow-xl shadow-black
}

#home {
    @apply h-screen p-4
}

#coming-soon {
    @apply flex md:flex-row flex-col justify-center bg-amber-100 rounded-xl h-full
}
#coming-soon h1, #coming-soon h2, #coming-soon p {
    @apply text-center md:text-start w-full md:w-9/12
}